h1, h2, p, .submit-button, .sector-div, .firm-age-div {
	text-align: center;
	margin-top: 40px;
}

h1 {
	font-size: 40px;
}

.sector-dropdown, .firm-age-dropdown {
	width: 220px;
	height: 50px;
	background-color: blue;
	color: white;
	border: solid 2px blue;
	box-shadow: 3px 3px 2px black;
	font-size: 20px;
	font-style: italic;
}



body {
	background-color: green;
}

.input-div {
	text-align: center;
}

input {
	text-align: left;
}

select {
	text-align: center;
}

.submit-button {
	margin-top: 50px;
}

button {
	border-radius: 4px;
	width: 100px;
	height: 50px;
	background-color: orange;
	border: solid 2px orange;
	box-shadow: 3px 3px 2px black;
}

.results-paragraph {
	font-size: 25px;
	margin-top: 170px;
	color: blue;
}